---
import { Image } from 'astro:assets';

import '../css/navbar.css';
import githubSvg from '../images/github.svg';
import linkedinSvg from '../images/linkedin.svg';

const siteTitle = "Alex | AKA. Kahlia"
---
<div id="navbar" class="flex">
  <div class="flex w-50">
    <h4 id="site-title" class="w-25">{siteTitle}</h4>
    <hr />
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/test">Test</a>
    </nav>
  </div>
  <div id="navbar-right-section">
    <Image src={githubSvg} alt="github" width="30" height="30"/>
    <Image src={linkedinSvg} alt="github" width="30" height="30"/>
    <a>Hire me</a>
  </div>
</div>

