---
import '../css/navbar.css';

const siteTitle = "Alex | AKA. Kahlia"
---
<div id="navbar" class="flex">
  <div class="flex w-50">
    <h4 id="site-title" class="w-25">{siteTitle}</h4>
    <hr />
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/test">Test</a>
    </nav>
  </div>
  <div class="flex">
    <a>Hire me</a>
  </div>
</div>

