/* Layout CSS */
html {
  font-size: 62.5%;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 350;
  color: var(--accent-1);
}

body {
  padding: 20px;
}

svg {
  width: 25px;
  height: 25px;
}

.page-wrapper {
  padding: 3.5rem;
}

.main-section {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.sub-section {
  margin-top: 10rem;
}

/* Generic widths */
.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

/* Global classes */
.flex {
  display: flex;
}
