html {
  font-family: 'Roboto Slab', sans-serif;
}

body {
  padding: 20px;
}

#page-wrapper {
  padding: 3.5rem;
}

/* Generic widths */
.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

/* Global classes */
.flex {
  display: flex;
}
