#navbar {
  justify-content: space-between;
  font-size: 1.7rem;
}

#navbar > div {
  height: 3rem;
  align-items: center;
}

#navbar > div > hr {
  height: 100%;
  border-left: 3px solid var(--accent-2);
  margin-right: 1rem;
}

#navbar a {
  padding: 0.9rem 1.5rem;
  margin-left: 1rem;
  border-radius: 10px;
  color: var(--accent-1);
  font-weight: bold;
  text-decoration: none;

  transition: background-color 500ms;
}

#navbar a:hover {
  background-color: var(--accent-2);
}
